* {
  /* border: 1px solid black; */
  width: 100%;
  ;
}

body {
  margin: 0px auto;
  width: 960px;
  /* background-color: rgb(34, 221, 234); */
  font-family: 'Times New Roman', Times, serif;
  color: rgb rgb(red, green, blue)
}
header {
  height: 250px;
  font-size: 150%;
  text-align: center;
  border: 1px solid blue;   
}

  #header-image {
    float: left;
    width: 20%;
    margin-top: -65px;
  } 

  #navHeader>li{
    display: inline-block;
    width: 150px;
    padding: 1px;
    margin: 5px;
    background-color: rgb(164, 185, 122);
    border: 1px solid black;
    border-radius: 25px;
    /* text-align: center; */
    /* margin-top: 150; */
    }

  }